/* formattazioni generiche */
body {
    color: #031b4e;
}

header {
    background-color: #FFFFFF;
    height: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.my_font-grey {
    color: #5f718e;
}

.my_section-grey {
    background-color: #f3f5f9;
}

.my_section-white {
    background-color: white;
}

.my_section-high-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.my_section-low-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* formattazione bottoni */
.my_btn-white {
    background-color: #ffffff;
    color: #0f6eff;
    border: 2px solid #0f6eff;
    font-weight: bold;
}

.my_btn-blue {
    background-color: #0069ff;
    color: white;
    font-weight: bold;
}

.my_btn-w100 {
    width: 100%;
}

/* inizio navbar */
.my_navbar {
    height: 65px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

.my_navbar .navbar-brand img {
    height: 29px;
    width: 172px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.my_navbar .navbar-nav>li>a {
    padding-top: 18px;
    padding-bottom: 17px;
    color: #2a375a;
}

.my_navbar .navbar-right {
    height: 55px;
    padding-top: 11px;
    padding-bottom: 11px;
}

/* fine navbar */
/* inizio jumbotron */
.my_jumbotron {
    background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 250px;
    padding-bottom: 150px;
    margin-bottom: 0;
}

/* card per form login dentro jumbotron */
.my_form-card {
    background-color: white;
    border-radius: 6px;
    text-align: center;
}

.my_form-title {
    background-color: #f3f5f9;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #122f68;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px 6px 0px 0px;
}

.my_form {
    border-bottom: 1px solid #e5e8ed;
    padding: 32px;
}

.my_form .form-control {
    height: 48px;
    padding: 16px;
    margin-bottom: 8px;
    font-size: 16px;
}

.my_form-footer {
    padding: 32px;
    margin-left: 0;
    margin-right: 0;
}

.my_form-footer .col-xs-10 {
    padding-left: 0
}

.my_form-footer .col-xs-2 {
    padding-left: 0;
    padding-right: 0;
}

.my_form-terms {
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
}

/* fine form */
/* fine jumbotron */
/* inizio section loghi clienti */
#my_section-clients .row {
    margin-bottom: 25px;
}

.my_logo-container img {
    height: 77px;
}
