/* formattazioni generiche */
body {
    color: #031b4e;
}

header {
    background-color: #FFFFFF;
    height: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.my_font-grey {
    color: #5f718e;
}

.my_font-lightblue {
    color: #60779d;
}

.my_section-grey {
    background-color: #f3f5f9;
}

.my_section-white {
    background-color: white;
}

.my_section-high-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.my_section-low-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

section a {
    color: #0069ff;
}

section a:hover {
    color: #1633ef;
    text-decoration: none;
}

.my_link_arrow a::after {
    content: ' \003E'
}

/* formattazione bottoni */
.my_btn-white {
    background-color: #ffffff;
    color: #0f6eff;
    border: 2px solid #0f6eff;
    font-weight: bold;
}

.my_btn-blue {
    background-color: #0069ff;
    color: white;
    font-weight: bold;
}

.my_btn-w100 {
    width: 100%;
}

/* inizio navbar */
.my_navbar {
    height: 65px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

.my_navbar .navbar-brand img {
    height: 29px;
    width: 172px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.my_navbar .navbar-nav>li>a {
    padding-top: 18px;
    padding-bottom: 17px;
    color: #2a375a;
}

.my_navbar .navbar-right {
    height: 55px;
    padding-top: 11px;
    padding-bottom: 11px;
}

/* fine navbar */
/* inizio jumbotron */
.my_jumbotron {
    background-color: #0060ff;
    background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 250px;
    padding-bottom: 150px;
    margin-bottom: 0;
}

/* card per form login dentro jumbotron */
.my_form-card {
    background-color: white;
    border-radius: 6px;
    text-align: center;
}

.my_form-title {
    background-color: #f3f5f9;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #122f68;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px 6px 0px 0px;
}

.my_form {
    border-bottom: 1px solid #e5e8ed;
    padding: 32px;
}

.my_form .form-control {
    height: 48px;
    padding: 16px;
    margin-bottom: 8px;
    font-size: 16px;
}

.my_form-footer {
    padding: 32px;
    margin-left: 0;
    margin-right: 0;
}

.my_form-footer .col-xs-10 {
    padding-left: 0
}

.my_form-footer .col-xs-2 {
    padding-left: 0;
    padding-right: 0;
}

.my_form-terms {
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
}

/* fine form */
/* fine jumbotron */
/* inizio section loghi clienti */
#my_section-clients .row {
    margin-bottom: 25px;
}

.my_logo-container img {
    height: 77px;
}

/* fine sezione looghi clienti */
/* inizio sezione deploy */
.my_nav-deploy {
    text-align: center;
    border: none;
    margin-top: 50px;
}

.my_nav-deploy ul {
    /* margin-left: auto;
    margin-right: auto;               da sistemare centratura lista su display xs*/
}

.my_nav-deploy li {
    /* margin-left: auto;
    margin-right: auto;               da sistemare centratura lista su display xs*/
    border: none;
    border-bottom: 3px solid #e5e8ed;
}

.my_nav-deploy li.active, {
    border: none;
    border-bottom: 3px solid #0069ff;
}

.my_nav-deploy li.active a {
    border: none;
}

.my_card-deploy {
    margin-top: 50px;
}

/* inizio sezione Designed for developers */
.my_carousel-img {
    height: 450px;
    margin-bottom: 30px;
    position: relative;
}

[class*="my_carousel-btn"] {
    border-radius: 50%;
    padding: 3px;
    border: 2px solid #0068ff;
    margin: 0 6px;
}

.my_carousel-btn-active {
    background-color: #0068ff;
}

.my_carousel-btn-inactive {
    background-color: none;
}

/* fine  sezione Designed for developers*/
/* inizio sezione built for businesses */
.my_for-business-card {
    margin-top: 50px;
}

/* fine sezione built for businesses */
/* inizio sezione worldwide */
#my_section-worldwide {
    color: white;
    background-color: #031b4e;
    background-image: url("https://images.prismic.io/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg?auto=compress,format");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.my_country-table {
    text-align: left;
}

.my_country-row .row {
    border-bottom: 1px solid #3f5179;
    margin-right: 20px;
    padding: 13px 0;
}

.my_country-row:last-child .row {
    border-bottom: none;
}

.my_country-row-code {
    font-size: bold;
}

.my_country-row-city {
    font-size: lighter;
    color: #719bb7;
}

.my_country-row-test {
    text-align: right;
}

.my_country-row-test a {
    color: #00d1cd;
}

/* fine sezione worldwide */
/* inizio sezione development */
#my_section-development .my_carousel {
    color: #5b6987;
}

#my_section-development .my_carousel-img {
    background-color: white;
    border-radius: 5px;
    height: 400px;
    padding: 65px;
}

#my_section-development .my_carousel-img img {
    height: 30px;
    margin: 0 auto 30px;
}

blockquote {
    font-size: 24px;
    line-height: 150%;
    font-family: 'Sailec-Light', 'Helvetica', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
}

blockquote::before {
    content: '\201C'
}

blockquote::after {
    content: '\201E'
}

#my_p_rick {
    font-size: 16px;
    line-height: 160%
}

#my_p_rick-cofounder {
    font-size: 12px
}

/* fine sezione development */
/* inizio sezione get started */
#my_section_getstarted {
    background-color: #005dff;
    background-image: url("https://images.prismic.io/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg?auto=compress,format");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

/* fine sezione get started */
/* inizio footer */
footer {
    background-color: #010e28;
}

footer a {
    color: #787e8c
}

.my_footer-top {
    padding-bottom: 30px;
    border-bottom: 1px solid #343e53;
}

.my_footer-title a {
    color: white;
    margin-bottom: 10px;
    font-size: bold;
}

.my_footer-row:last-child {
    margin-bottom: 30px;
}

.my_footer-bottom {
    margin-top: 30px;
    height: 50px;
    line-height: 50px;
}

.my_footer-bottom div {
    padding-left: 0;
    padding-right: 0;
}

.my_footer-bottom a {
    color: #7f8693;
}

.my_footer-bottom a {
    font-size: 20px;
    margin-right: 18px;
}

/* fine footer */
/* inizio media query */
@media (max-width: 992px) {

    /*media query per correzione problema navbar*/
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }
}

@media screen and (min-width:768px) {

    /*media query per spostamento nav section deploy */
    .my_nav-deploy li {
        float: none;
        text-align: left;
        border: none;
        border-left: 3px solid #e5e8ed;
    }

    .my_nav-deploy li.active {
        border: none;
        border-left: 3px solid #0069ff;
    }

    .my_card-deploy {
        text-align: left;
    }
}

@media screen and (min-width:992px) {

    /* media query per section built for businesses */
    .my_for-business-card {
        text-align: left;
        padding-right: 30px;
    }

    /* media query per section worldwide */
    .my_country-row:nth-child(12) .row {
        border-bottom: 1px solid transparent;
    }

    /* media query per carousel freccine laterali */
    .my_carousel-arrow {
        height: 450px;
        margin-top: 50px;
        font-size: 40px;
    }

    .my_carousel-arrow::before {
        content: ' \2190';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-100%, -50%);
    }

    .my_carousel-arrow::after {
        content: ' \2192';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(100%, -50%);
    }
}
